@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --color-page: 22 160 133;
    }
}
.App,
#quote-prub, 
#author, 
.quotation, 
#new-quote,
.red-quote{
    transition: all 0.8s ease-out;
}

#quote-prub::-webkit-scrollbar {
    -webkit-appearance: none;
}

#quote-prub::-webkit-scrollbar:vertical {
    width:5px;
}

#quote-prub::-webkit-scrollbar-button:increment,#quote-prub::-webkit-scrollbar-button {
    display: none;
} 

#quote-prub::-webkit-scrollbar:horizontal {
    height: 10px;
}

#quote-prub::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: none
}

#quote-prub::-webkit-scrollbar-track {
    border-radius: 10px;  
}